/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}

.center-img {
  display: block;
  margin: 0 auto;
}

.margin-top-bottom-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-top-bottom-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}
