.name {
  font-size: 350%;
}

.school {
  color: grey;
  font-size: 150%;
}

.major {
  font-size: 100%;
}

.gt-icon {
  border: lightgrey thin solid;
  -webkit-border-radius: 220px;
  -moz-border-radius: 220px;
  border-radius: 220px;
}
