.name {
  font-size: 350%;
}

.school {
  color: grey;
  font-size: 150%;
}

.major {
  font-size: 100%;
}

.gt-icon {
  height: 250px;
  width: 250px;
  border: lightgrey thin solid;
  -webkit-border-radius: 220px;
  -moz-border-radius: 220px;
  border-radius: 220px;
}

.up-divider {
  width: 100%;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  color: #7a7a7a;
}


.down-divider {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  color: #7a7a7a;
}

.intro-container {
}

.star {
  color: #e4e400;
}
