<div fxLayout="column" fxLayoutGap="24px">
  <div fxLayout="row">
    <div fxFlex="70">
      <h1 class="name">Trai Tran</h1>
      <h3 class="school">Georgia Institute of Technology</h3>
      <h4 class="major">B.S. of Computer Science </h4>
      <h4 class="focus-title">Focus: Artificial Intelligence, Simulation, and Systems/Networking</h4>
    </div>
    <div fxFlex="30" fxLayoutAlign="center">
      <img class="gt-icon" src="assets/gt-icon.png">
    </div>
  </div>

  <div>
    <h1>Introduction</h1>
    <p>

    </p>
  </div>

  <div>
    <h1>Activities</h1>
  </div>

  <div>
    <h1>Achievements</h1>
  </div>

  <div>
    <h1>Others</h1>
  </div>
</div>


